<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="View2.Properties.Settings.Compañia_Seguros_v3ConnectionString"
            connectionString="Data Source=DESKTOP-PEL9PEV\SQLEXPRESS;Initial Catalog=Compañia_Seguros_v3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="View2.Properties.Settings.Compañia_Seguros_v3ConnectionString1"
            connectionString="Data Source=DESKTOP-PEL9PEV\SQLEXPRESS;Initial Catalog=Compañia_Seguros_v3;Persist Security Info=True;User ID=adminH;Password=sistemas123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>